@import 'greenbox_ui/src/styles//_include-media.scss';

.confirmation-purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 534px;
  height: 750px;
  margin: auto;

  .divisor {
    width: 105%;
    height: 0.4px;
    background-color: #cccccc;
    margin: 24px 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__image {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 34px;
      font-weight: 300;
      color: #35bab6;
      margin: 24px 0;
      max-width: 500px;
      width: 100%;

      @include media('<=tablet') {
        font-size: 27px;
      }
    }

    &__message {
      font-size: 14px;
      color: #828282;
    }
  }

  &__confirmation{

    &__info{
      margin-left: 10px;
    }
  }

  &__buttons {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media('<=tablet') {
      margin-top: 65px;
    }

    &__button {
      width: 200px;
      display: flex;
      justify-content: center;
    }

    .divisor-or {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      margin: 30px 0 24px 0;

      &__line {
        width: 140px;
        height: 0.4px;
        background: #cccccc;
        margin: 0 10px;
      }

      &__message {
        margin-top: -7px;
        font-size: 12px;
        font-weight: 700;
        color: #828282;
      }
    }
  }
}
