.background-modal{
  position: absolute;
  background-color: #4c4c4c;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 206px;

  @media (max-width: 700px){
    padding-top: 20%;
  }

}

.wallet-modal{
  width: 594px;
  height: 386px;
  padding: 56px 82px 30px 82px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  @media (max-width: 800px){
    width: 454px;
    height: 490px;
    padding: 0 72px;
  }

  @media (max-width: 500px){
    width: 420px;
    height: 390px;
    padding: 0 52px;
  }

  @media (max-width: 450px){
    width: 360px;
    height: 390px;
    padding: 0 52px;
  }

  @media (max-width: 400px){
    width: 320px;
    height: 340px;
    padding: 0 35px;
  }

  &__header{
    font-size: 34px;
    font-weight: 300;
    color: #4c4c4c;
    margin-bottom: 16px;

    @media (max-width: 800px){
      font-size: 30px;
      margin-bottom: 40px;
    }

    @media (max-width: 500px){
      font-size: 26px;
      margin-bottom: 30px;
    }

    @media (max-width: 450px){
      font-size: 24px;
      margin-bottom: 20px;
    }

    @media (max-width: 400px){
      font-size: 22px;
    }
  }

  &__message{
    font-size: 14px;
    color: #828282;

    @media (max-width: 800px){
      width: 80%;
    }

    @media (max-width: 450px){
      width: 90%;
    }

    &__value{
      color: #35bab6;
    }
  }

  &__buttons{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;

    @media (max-width: 800px){
      margin-top: 30px;
    }

    @media (max-width: 570px){
      width: 85%;
    }
  }
}