.help-modal-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #4c4c4c, $alpha: 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-modal{
  width: 376px;
  height: 335px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: relative;

  &__header{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 36px 24px;
    position: relative;

    span{
      font-size: 16px;
      font-weight: 700;
      color: #4c4c4c;
    }

    &__close{
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
    }

    .divisor{
      width: 90%;
      height: 1px;
      background-color: rgba($color: #4c4c4c, $alpha: 0.1);
      position: absolute;
      bottom: 0;
      left: 5%;
    }
  }
  
  &__message{
    margin: 20px;
    position: absolute;
    font-size: 16px;
    color: #828282;
  }

  &__body{
    position: absolute;
    bottom: 20px;
    width: 100%;

    &__item{
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-bottom: 14px;

      img{
        position: absolute;
        left: 0;        
      }

      .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 75%;

        &__title{
          font-size: 14px;
          color: #828282;
        }

        &__value{
          font-size: 14px;
          font-weight: 700;
          color: #4c4c4c;
        }

      }

    }
  }
}