.loading-step {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__msg {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-gray-500);
    margin-top: 18px;
    text-align: center;
  }
}
