@import "greenbox_ui/src/styles/_include-media.scss";

.payment-selection-container{
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 36px;
}

.payment-selection-modal{
  width: 100%;
  max-width: 902px;
  height: 710px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  @include media("width<=900px"){
    height: 980px;
  }

  @include media("width<=800px"){
    height: 1010px;
  }

  @include media("width<=510px"){
    height: 1100px;
  }

  @include media("width<475px"){
    height: 1150px;
  }

  @include media("width<360px"){
    height: 1200px;
  }

  &__header{
    position: relative;
    margin-top: 54px;

    &__welcome{
      font-size: 16px;
      color: #4c4c4c;
      text-align: center;

      @include media("width<=900px"){
        font-size: 22px;
      }

      .payment-username{
        font-size: 24px;
        font-weight: 700;
        color: #35bab6;
        margin-left: 7px;

        @include media("width<=900px"){
          font-size: 30px;
        }

        @include media("width<=510px"){
          display: flex;
          flex-direction: column;
        }
      }

      .account-id{
        font-size: 14px;
        color: #828282;
        margin-top: -10px;
        position: relative;
        top: -20px;
      }
    }
  }

  &__purchase{
    width: 100%;
    max-width: 317px;
    display: flex;
    justify-content: center;
    margin: 20px 0 34px 0;

    @include media("width<=500px"){
      width: 70%;
    }
  }

  &__body{
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__message{
      font-size: 34px;
      font-weight: 300;
      color: #4c4c4c;
      width: 70%;
    }

    .methods{
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 46px;

      @include media("width<=900px"){
        flex-direction: column;
      }

      &__my-balance{
        height: 250px;
        
        img{
          margin-bottom: 28px;
        }

        &__footer{
          display: flex;
          flex-direction: column;
          text-align: center;
          font-size: 14px;
          color: #adadad;
          margin-top: 16px;

          &__value{
            font-size: 24px;
            font-weight: 700;
            color: #35bab6;
          }
        }
      }

      &__divisor{
        height: 100%;
        width: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media("width<=900px"){
          height: 2px;
          width: 100%;
          flex-direction: row;
          margin: 32px 0;
        }

        .divisor-half{
          height: 44%;
          background-color: #cccccc;

          @include media("width<=900px"){
            height: 2px;
            width: 44%;
          }
        }

        span{
          font-size: 12px;
          font-weight: 700;
          color: #828282;
          margin-left: -8px;

          @include media("width<=900px"){
            margin-left: 0;
            margin-top: -7px;
          }
        }
      }

      &__card{
        height: 250px;

        img{
          margin-top: 16px;
        }

        button{
          margin-top: 28px;
        }
      }
    }
  }
}
