@import 'greenbox_ui/src/styles//_include-media.scss';

.transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 524px;
  margin: auto;

  @include media('<=tablet') {
    height: 650px;
  }

  @include media('width<500px') {
    height: 650px;
  }

  @include media('width<400px') {
    height: 650px;
  }

  .btn {
    width: auto;
  }

  &__image {
    margin-bottom: 48px;
  }

  &__title {
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 48px;

    @include media('width<650px') {
      width: 400px;
      font-size: 30px;
    }

    @include media('width<450px') {
      width: 400px;
      font-size: 29px;
    }

    @include media('width<410px') {
      width: 250px;
    }
  }

  .success-title {
    color: #35bab6;
  }

  .error-title {
    font-size: 34px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    width: 400px;
  }

  .content-line {
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    margin-bottom: 48px;
    justify-content: center;

    &__message {
      text-align: center;
      font-size: 20px;
      color: #4c4c4c;

      @include media('width<650px') {
        width: 350px;
      }

      @include media('width<500px') {
        width: 250px;
      }

      @include media('width<500px') {
        width: 200px;
        font-size: 17px;
      }

      @include media('width<410px') {
        width: 200px;
        font-size: 15px;
      }

      &__value {
        font-weight: bold;
        color: #35bab6;
        margin-right: 8px;
      }
    }

    &__error {
      width: 90%;
      max-width: 350px;
      font-size: 14px;
      color: #d45858;
      text-align: center;
    }

    .transaction-id {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      &__label {
        font-size: 14px;
        color: #828282;
        font-weight: 700;

        @include media('width<410px') {
          font-size: 10px;
        }
      }

      &__value {
        font-size: 14px;
        color: #828282;

        @include media('width<410px') {
          font-size: 12px;
        }
      }
    }
  }

  &__footer {
    margin-top: -7px;
    font-size: 16px;
    color: #828282;
    text-align: center;

    @include media('width<650px') {
      width: 400px;
      font-size: 14px;
    }

    @include media('width<500px') {
      width: 250px;
      font-size: 12px;
    }

    @include media('width<410px') {
      width: 220px;
      font-size: 12px;
    }

    .redirect {
      font-weight: 700;
      color: #35bab6;
      margin-left: 5px;
      text-decoration: underline;
    }
  }

  .divisor {
    width: 100%;
    height: 0.4px;
    background-color: #cccccc;
    margin-bottom: 40px;
  }

  .divisor--half {
    width: 50%;
    max-width: 262px;
    height: 0.4px;
    background-color: #cccccc;
    margin: 24px 0 48px 0;
  }
}
