.info{
  display: flex;
  justify-content: space-between;
  width: 543px;
  margin-top: 15px;

  @media (max-width : 650px){
    width: 400px;
  }

  @media (max-width : 500px){
    width: 280px;
  }


  &__info{
    font-size: 14px;
    font-weight: 700;
    color: #828282;

    @media (max-width : 650px){
      font-size: 12px;
    }
  }

  &__value{
  
    &__content{
      font-size: 20px;
      color: #35bab6;
      margin-right: 12px;
      
      @media (max-width : 650px){
        font-size: 16px;
      }

    }

    &__copy{
      display: flex;
      justify-content: flex-end;
      margin: -20px -20px 0 0;
    }
  }
}