@import '@styles/_variables.scss';

.two-step-verification {
  width: 100%;
  height: 100%;
  max-width: 370px;
  margin: 0 auto;
  display: flex;

  &__header {
    width: 100%;
    text-align: center;
    margin-top: 120px;

    &--title {
      font-size: 34px;
      color: var(--color-blue);
      font-weight: 300;
      margin-bottom: var(--padding-1);
    }

    p {
      font-size: 16px;
      color: var(--color-gray-500);
      margin-bottom: var(--padding-1);
    }

    .last-number {
      font-weight: bold;
      color: var(--color-blue);
    }
  }

  #check2step {
    position: relative;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      font-size: 16px;
      font-weight: bold;
      color: var(--color-gray-500);
      margin: 0 0 4px 0;
      text-align: center;
    }
  }

  .input-check {
    width: 40px;
    height: 40px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;
    font-size: 14px;
    color: var(--color-gray-500);
    outline: none;
    margin: 0 4px;
    text-align: center;

    &::placeholder {
      color: var(--color-gray-200);
      font-size: 14px;
    }

    &:focus {
      border: 2px solid var(--color-blue);
    }
  }

  .form-valid {
    .input-check {
      border: 1px solid var(--color-green);
    }
  }

  .input-error {
    border: 1px solid var(--color-error);
  }

  .issue-box {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      font-size: 14px;
      color: var(--color-gray-400);
    }
  }

  .separator-2lines {
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    margin: var(--padding-1) 0;

    p {
      font-size: 12px;
      font-weight: bold;
      color: var(--color-gray-400);
      background: $grey;
      padding: 0 7px;
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      margin: 0;
    }

    &::before {
      content: '';
      height: 1px;
      width: 100%;
      background: #cccccc;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 13px;
    }
  }

  .loading-gray {
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .verified-icon {
    background-color: var(--color-green);
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    font-size: 11px;
  }

  .error-msg {
    font-size: 11px;
    color: var(--color-error);
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .hide {
    display: none;
  }

  &__loading {
    width: 100%;
    margin-top: 60%;
  }
}
