@import "greenbox_ui/src/styles/_include-media.scss";

.edit-card-modal{
  z-index: 4;
  width: 100%;
  max-width: 800px;
  border-radius: 16px;
  padding: 24px 40px 40px 40px;

  @include media("width<=460px"){
    position: absolute;
    top: 0;
    border-radius: 0;
  }

  &__card-header{
    
    span{
      font-size: 16px;
      font-weight: 700;
      color: #4c4c4c;
    }
  }

  .divisor{
    width: 100% !important;
    margin-top: 8px !important;
    width: 97% !important; 
    background-color: #efefef !important;
  }

  &__card-infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 24px;

    @include media("width<=450px"){
      margin-bottom: 24px;
    }

    @include media("width<=300px"){
      flex-direction: column;
    }
  }

  &__address-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      

    &__selects{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 24px;

      @include media("width<=460px"){
        flex-direction: column;
        margin-top: -12px;
      }

      .select-custom{
        display: flex;
        flex-direction: column;
      }

    }

    &__address{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include media("width<=460px"){
        flex-direction: column;
      }
    }

    &__city-zip{
      margin-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include media("width<=460px"){
        flex-direction: column;
        margin-top: 12px;
      }
    }
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    width: 97%;

    button{
      max-width: 144px;
    }
  }
}

.input-custom{
  width: 100%;
  max-width: 302px !important;
  margin: 0px;
  margin-right: 24px;
}

.select-custom{
  width: 90%;
  max-width: 312px;
  height: 100px;
  background-color: transparent !important;
  margin-right: 24px;

}

.input-custom-half{
  width: 100%;
  padding-left: 22px;

  @include media("width<300px"){
    padding-left: 0;
  }

  &__input{
    width: 100%;
    max-width: 144px;

    @include media("width<300px"){
      max-width: 300px;
      margin-top: 12px;
    }
  }
}
