@import 'greenbox_ui/src/styles/_include-media.scss';

.card-remove-confirmation{
  width: 100%;
  max-width: 544px;
  height: 228px;
  border-radius: 16px;
  z-index: 11;
  padding: 60px 40px;

    &__title{
      width: 100%;
      font-size: 34px;
      font-weight: 300;
      color: #4c4c4c;
      text-align: center;
    }

    &__message{
      width: 100%;
      max-width: 424px;
      font-size: 14px;
      color: #828282;
      text-align: center;
      margin-top: 36px;
    }
}

