@import 'greenbox_ui/src/styles/_include-media.scss';
@import '@styles/_variables.scss';

.add-funds-page .internal-simple__body {
  .internal-header__container {
    margin: 80px auto 0 auto;
    width: 90%;
  }
}

.add-funds {
  width: 90%;
  max-width: $maxWidth;
  padding: 25px 25px 25px 45px;
  display: flex;
  z-index: 5;
  position: relative;
  padding-bottom: 100px;
  margin: auto;
  
  @include media('<=desktop') {
    flex-direction: column;
  }

  &__form {
    width: 100%;

    @include media('width<=1300px') {
      position: absolute;
      padding-top: 750px;
      left: 20%;
    }

    @include media('<=desktop') {
      left: 10%;
      padding-top: 850px;
    }

    @include media('<=tablet') {
      left: 3%;
      padding-top: 1000px;
    }
  }

  &__currency-box {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    padding-left: 80px;

    @include media('width<=1300px') {
      position: absolute;
      padding-left: 0;
      justify-content: center;
      left: -5%;
    }

    @include media('<=tablet') {
      left: 0;
    }
  }
}
