@import 'greenbox_ui/src/styles/_include-media.scss';

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;

  @include media('width<=1250px') {
    flex-direction: column;
    justify-content: center;
  }

  &__cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 140px;

    @include media("width<=1550px"){
      padding-left: 0px;
    }

    @include media('width<=1400px') {
      width: 80%;
    }

    @include media('width<=1400px') {
      width: 60%;
    }

    @include media('width<=1250px') {
      width: 100%;
      margin-top: 1050px;
      justify-content: center;
      align-items: center;
    }

    @include media('<=tablet') {
      margin-top: 1300px;
    }

    @include media('width<=550px') {
      margin-top: 1650px;
      margin-left: 10px;
      display: flex !important;
      justify-content: center !important;
    }

    &__buttons {
      width: 100%;
      max-width: 586px;
      display: flex;
      justify-content: center;
      margin-top: 20px;

      &--new-card {
        width: 100%;
        max-width: 150px;
        padding-bottom: 40px;
        padding-bottom: 150px;

        .more-icon{
          color: #828282;
          font-size: 24px;
          font-weight: 400;
          margin-right: 10px;
        }
      }
    }
  }

  &__card-round {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 140px;
    align-items: flex-start;

    @include media('width<=1550px') {
      padding-right: 40px;
    }

    @include media('width<=1250px') {
      padding-right: 0;
      margin-left: 20px;
      width: 100%;
      position: absolute;
      justify-content: center;
    }
  }
}
