@import '@styles/_variables.scss';
@import 'greenbox_ui/src/styles//_include-media.scss';

.home {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: relative;

  @include media('<=tablet') {
    flex-wrap: wrap;
    overflow-y: auto;
    padding-bottom: 40px;
  }

  &__description {
    width: 100%;

    @include media('>=tablet') {
      width: 55%;
      padding-right: 20%;
    }

    .qc-logo {
      margin-top: 40px;
      margin-bottom: 50px;

      @include media('height>800px', '>=tablet') {
        margin-top: 120px;
        margin-bottom: 160px;
      }
    }

    &__texts {
      width: 100%;

      .desc-text {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px;

        @include media('height>800px', '>=tablet') {
          font-size: 24px;
          line-height: 1.5;
          margin-bottom: 50px;
        }
        color: var(--color-gray-500);
      }

      .text-feature {
        font-size: 24px;
        line-height: 30px;
        color: var(--color-gray-500);

        @include media('height>800px', '>=tablet') {
          font-size: 32px;
          line-height: 40px;
          color: var(--color-gray-500);
        }

        p:nth-child(4) {
          margin-top: 40px;
        }
      }
    }
  }

  &__card-currency {
    width: 100%;
    position: relative;
    top: 170px;
    width: 45%;


  @include media("width<=1100px"){
    top: 60px;
    width: 45%;
  }

  @include media('<=tablet') {
    padding: 50px;
    width: 100%;
    top: 0px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  }
}
