//Main
.main {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  background-color: $grey;
  position: relative;
  overflow: hidden;
}

.error-form-label {
  font-size: 11px;
  color: var(--color-error);
  margin-top: 5px;
}

.route-wrapper,
.switch-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.switch-wrapper > div {
  height: 100%;
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

.center-content {
  width: 100%;
}
