.verify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-align: center;

  &__title {
    width: 280px;
    font-size: 34px;
    font-weight: 300;
    color: var(--color-blue);
  }

  &__message {
    width: 100%;
    max-width: 290px;
    font-size: 16px;
    color: #4c4c4c;
    margin: 32px;
  }

  .change-user-email-form {
    width: 100%;
    max-width: 312px;

    .form__label {
      text-align: left;
    }

    .center-row {
      margin-top: 32px;
      display: flex;
      justify-content: center;
    }
  }

  &__phone {
    width: 320px;
    margin-bottom: 32px;

    label {
      text-align: left;
      width: 100%;
      font-weight: 700;
      color: #777777;
    }
  }
}
.btn {
  width: auto;
}
