@import '@styles/_variables.scss';

.login {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .internal-title {
    text-align: center;
    margin-top: 45px;
  }

  &__form {
    max-width: 312px;
    margin-top: 80px;

    .form-row {
      margin: 0 0 var(--padding-1) 0;
    }

    .btn {
      width: 100%;
      margin-top: var(--padding-1);
      margin-bottom: calc(var(--padding-1) * 2);
    }
  }

  .login-link {
    width: 100%;
    margin-top: 40px;

    p {
      text-align: center;
      margin: 0 13px 3px 13px;
      font-size: 14px;
      color: var(--color-gray-400);
    }

    p:before,
    p:after {
      background-color: var(--color-gray-200);
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 91px;
      margin: 0 13px;
    }
    p:before {
      right: 0.5em;
      margin-left: -50%;
    }

    p:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }
}

.phone-input {
  width: 100%;
}

.phone-error {
  input {
    border: 1px solid var(--color-error) !important;
  }
  .iti--allow-dropdown::after {
    content: url(../../Assets/Images/x-icon.svg);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }
}

.phone-disabled input {
  background-color: rgb(239, 239, 239) !important;
}

.forgot-password-btn {
  height: 42px;
  margin: 0;
  padding: 0;
}
