@import 'greenbox_ui/src/styles//_include-media.scss';

.input-custom {
  display: flex;
  flex-direction: column;
  margin: 0 12px;

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: -12px;
    width: 100%;
  }

  &__optional {
    font-size: 12px;
    color: #777777;
    margin: -5px 0 0 10px;
  }

  &__input {
    width: 100%;
    max-width: 312px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #adadad;
    background-color: #ffffff;
    margin-top: 9px;
    padding-left: 10px;

    &::placeholder {
      font-size: 14px;
      color: #cccccc;
    }
  }

  .half {
    width: 156px;
  }

  &__message {
    font-size: 10px;
    color: #828282;
    margin-top: 7px;
  }
}
