@import 'greenbox_ui/src/styles//_include-media.scss';

.card-error {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__title {
    width: 100%;
    max-width: 416px;
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    color: #4c4c4c;
    margin-top: 48px;
  }

  &__message {
    font-size: 14px;
    color: #d45858;
    margin: 48px 0 88px 0;
    width: 100%;
    text-align: center;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
