@import 'greenbox_ui/src/styles/_include-media.scss';

.internal-header {
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 41px 0 24px 0;
    max-width: 1390px;
    border-bottom: 1px solid var(--color-gray-200);

    @include media('width<650px') {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-size: 24px;
      margin: 0;
      color: var(--color-grey-500);
    }

    &__account-number {
      font-size: 14px;
      margin: 0;
      @include media('width<650px') {
        text-align: center;
        display: block;
      }
    }
    &__balance-label {
      font-size: 16px;
    }
    &__account-number,
    &__balance-label {
      color: var(--color-gray-300);
      margin: 0;
      padding: 0;
    }
  }
  &__bolder {
    font-weight: bold;
    color: var(--color-blue);
  }
  &__right {
    text-align: right;
    @include media('width<650px') {
      text-align: center;
      margin-top: 24px;
    }
  }
}
