.loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__ring-yellow {
    position: absolute;
    animation: spin 1.4s linear infinite;
  }

  &__ring-white {
    position: absolute;
    animation: spin 2s linear infinite;
  }

  &__message {
    margin-top: 250px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
