@import 'greenbox_ui/src/styles/_include-media.scss';

.card-remove{
  width: 100%;
  max-width: 544px;
  height: 373px;
  background-color: #fff;
  padding: 56px 60px;
  position: relative;

  @include media("width<=500px"){
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title{
    width: 100%;
    font-size: 34px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
  }

  &__message{
    width: 100%;
    max-width: 424px;
    font-size: 14px;
    color: #828282;
    text-align: center;
    margin: 24px 0 40px 0;
  }

  &__buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media("width<=500px"){
      display: flex;
      justify-content: center;
    }

    &--cancel{
      width: 100%;
      max-width: 176px;

    .btn{
      width: 100%;
    }

      @include media("width<=500px"){
        position: absolute;
        bottom: -50px;
      }
    }

    &--confirm{
      width: 100%;
      max-width: 176px;
    }
  }
}
