@import 'greenbox_ui/src/styles//_include-media.scss';

.currency-box {
  right: 130px;
  width: 100%;
  max-width: 586px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 60px 58px;
  border-radius: 5px;
  height: 640px;

  @include media("width<=1100px"){
    height: 760px;
  }

  @include media('<=tablet') {
    width: 80%;
    height: 740px;
  }

  @include media('width<=550px') {
    width: 90%;
    padding: 60px 28px;
    height: 800px ;
  }

  @include media('<=phone') {
    left: 0;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }

  &__divisor{
    width: 100%;
    height: 1px;
    background-color: #cccccc;
  }

  &__body {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 32px;

    &__selector {
      height: 100px;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;

      @include media('<=tablet') {
        flex-wrap: wrap;
      }

      a {
        width: 50%;
        @include media('<=tablet') {
          width: 100%;
          margin-bottom: 16px;
        }
        &:first-child {
          margin-right: 32px;
          @include media('<=tablet') {
            margin-right: 0px;
          }
        }
      }
    }

    &__card {
      flex-direction: column;
      width: 100%;

      &__divisor {
        width: 60%;
        margin: auto;
        height: 0.4px;
        background-color: #cccccc;
      }
    }

    &__grand {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;

      @include media('<=tablet') {
        flex-direction: column;
        align-items: center;
      }

      &__total {
        font-size: 14px;
        font-weight: 700;
        color: #777777;

        @include media('<=tablet') {
          margin-right: 14px;
        }
      }

      &__value {
        font-size: 32px;
        font-weight: 700;
        color: #777777;
      }

      &__currency {
        font-size: 14px;
        margin-left: 5px;
        color: #777777;
      }
    }
  }
}
