@import 'greenbox_ui/src/styles/_include-media.scss';

.payment-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;

  @include media('width<=1300px') {
    width: 70%;
    left: 15%;
  }

  &__card {
    display: flex;
    flex-direction: column;

    .card-infos {
      display: flex;
      flex-direction: row;

      @include media('<=tablet') {
        position: relative;
        left: 12%;
        flex-direction: column;
      }

      &__left {
        display: flex;
        flex-direction: column;
      }

      &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 54px;

        &__checkbox {
          display: flex;
          flex-direction: row;
          margin-bottom: 32px;
          height: 40px;
          position: relative;
          top: -14px;
          display: flex;
          align-items: center;

          &__message {
            font-size: 14px;
            color: #828282;
            margin-left: 12px;
          }
        }

        &__expire-cvc {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 3px;
          width: 100%;
          max-width: 400px;
          margin-left: -20px;

          .custom-input {
            margin: -5px 0 0 20px;
          }

          @include media('<=tablet') {
            max-width: 100%;
          }

          @include media('width<=450px') {
            flex-direction: column;
          }

          .custom-input {
            @include media('width<=450px') {
              margin: 7px 0;
            }
          }
        }
      }
    }
  }

  &__mailing-address {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    max-width: 650px;

    .mailing-address {
      display: flex;
      flex-direction: row;

      @include media('<=tablet') {
        position: relative;
        left: 12%;
        flex-direction: column;
      }

      &__left {
        width: 100%;
      }

      &__right {
        width: 100%;
      }
    }
  }

  &__billing-address {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .billing-address {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 650px;

      @include media('<=tablet') {
        position: relative;
        left: 12%;
        flex-direction: column;
      }

      &__left {
        width: 100%;
      }

      &__right {
        width: 100%;
      }
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      @include media('width<=550px') {
        flex-direction: column;
      }

      &__checkbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10px;

        @include media('width<=550px') {
          margin-left: 0;
          margin-bottom: 12px;
        }

        &__message {
          font-size: 14px;
          color: #828282;
          margin-left: 10px;
        }
      }
    }
  }

  &__identification {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .identification {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 650px;

      @include media('<=tablet') {
        position: relative;
        left: 12%;
        flex-direction: column;
      }

      &__left {
        width: 100%;
      }

      &__right {
        margin-top: -7px;
        width: 100%;

        @include media('width<=1300px') {
          width: 40%;
        }
      }
    }
  }

  &__pay-button {
    margin-top: 24px;
    width: 30%;
    align-self: flex-end;
    position: relative;

    @include media('<=tablet') {
      width: 80%;
      left: 2%;
    }
  }
}

.divisor {
  width: 683px;
  height: 1px;
  background-color: #cccccc;
  margin-bottom: 24px;

  @include media('<=tablet') {
    width: 130%;
  }
}

.custom-input {
  position: relative;
  margin: 17px 0;

  .error-feedback {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 15px;
    color: #d45858;
    z-index: 7;
  }
}

.select-custom2 {
  width: 300px;
  margin-left: -12px;

  @include media('<=tablet') {
    width: 100%;
  }

  @include media('width<=450px') {
    width: 90%;
  }
}
