.main-footer {
  width: 100%;
  z-index: 2;

  &--blue-bar {
    width: 100%;
    height: 40px;
    background: $blue;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;

    @include media('<=tablet') {
      height: 30px;
    }
  }

  &__circle {
    position: absolute;
    width: 270px;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
    }

    @include media('<=tablet') {
      display: none;
    }
  }
}

.powered-by {
  position: absolute;
  left: 10%;
  top: -75px;

  @include media('<=tablet') {
    display: none;
  }

  &__img {
    display: inline-block;
    margin-bottom: $padding-2;
  }
}

.footer-fixed {
  position: absolute;
  bottom: 0;
}

.footer-relative {
  position: relative;
}
