.custom-header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  z-index: 1;

  img {
    cursor: pointer;
  }
}

.help {
  position: absolute;
  right: 40px;
  top: 20px;
  cursor: pointer;
}
