.internal-simple {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;

  &__header {
    width: 100%;
    background: var(--color-white);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &__body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    overflow-y: auto;
  }

  .internal-title {
    font-size: 34px;
    font-weight: 300;
  }
}

.text-blue {
  color: var(--color-blue);
}

.internal-padding {
  padding: 100px 30px 60px 30px;
}
