@import 'greenbox_ui/src/styles//_include-media.scss';

.funds-deposity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 534px;
  height: 800px;
  margin: auto;

  .divisor {
    width: 100%;
    max-width: 524px;
    height: 0.4px;
    background-color: #cccccc;
    margin: 24px 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__image {
      margin-bottom: 10px;

      @include media('width<650px') {
        width: 100px;
      }

      @include media('width<500px') {
        width: 87px;
      }
    }

    &__title {
      font-size: 34px;
      font-weight: 300;
      color: #35bab6;
      margin: 24px 0;
      max-width: 540px;
      width: 100%;

      @include media('<=tablet') {
        font-size: 24px;
      }

      @include media('width<500px') {
        width: 280px;
        line-height: 35px;
      }
    }

    &__message {
      font-size: 14px;
      color: #828282;

      @include media('<=tablet') {
        font-size: 12px;
      }

      @include media('width<500px') {
        width: 250px;
      }
    }
  }

  &__confirmation {
    &__title {
      font-size: 34px;
      font-weight: 300;
      color: #828282;
      margin-bottom: 32px;
      text-align: center;

      @include media('<=tablet') {
        font-size: 24px;
      }
    }

    &__infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__buttons {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media('<=tablet') {
      margin-top: 60px;
    }

    &__button {
      width: 200px;
      display: flex;
      justify-content: center;
    }

    .divisor-or {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      margin: 24px 0;

      &__line {
        width: 140px;
        height: 0.4px;
        background: #cccccc;
        margin: 0 10px;
      }

      &__message {
        margin-top: -7px;
        font-size: 12px;
        font-weight: 700;
        color: #828282;
      }
    }
  }

  &__redirect {
    text-align: center;
    width: 80%;
    max-width: 476px;
    font-size: 16px;
    color: #828282;

    @include media('width<520px') {
      font-size: 14px;
    }

    &__click {
      font-weight: 700;
      color: #35bab6;
      margin-left: 5px;
      text-decoration: underline;

      &:hover {
        color: #35bab6;
      }
    }
  }
}
