@import 'greenbox_ui/src/styles/_include-media.scss';

.card-select {
  width: 100%;
  max-width: 586px;
  height: 64px;
  background-color: #fff;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.1);
  position: relative;
  padding: 32px;

  @include media('height<=615px') {
    padding: 32px 36px;
  }

  .radio--custom__radio {
    border-color: var(--color-gray-100);
    box-shadow: none;
    margin-top: 4px;
  }

  &--close {
    width: 94%;
    position: absolute;
    top: 0px;
    left: 4%;
    height: 64px;
  }

  &--selected {
    border: solid 1px #ffd95a;
    height: 234px;
  }

  &--expired {
    border: solid 1px #d45858;
    background-color: #efefef;
  }

  &__card-infos {
    display: flex;
    position: absolute;
    top: 20px;

    img {
      width: 20px;
    }

    &__card-flag {
      margin: 0 12px;
    }

    &__card-number {
      font-size: 14px;
      font-weight: 700;
      color: #4c4c4c;
      width: 100px;
      position: absolute;
      left: 100px;

      @include media('width<=440px') {
        font-size: 12px;
        left: 80px;
        top: 5px;
      }
    }
  }

  &__operations {
    display: flex;
    position: absolute;
    top: 20px;
    right: 16px;

    &--edit {
      margin-right: 8px;

      @include media("<=phone"){
        margin-right: 0;
      }
    }

    &--expired {
      margin-top: -8px;

      @include media('width<=500px') {
        margin-top: 0;
      }
    }

    &__expired {
      margin: -8px 8px 0 0;

      @include media('width<=500px') {
        display: none;
      }
    }
  }

  &__adicional-infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    left: 0;
    height: 80%;
    margin-top: 60px;
    
    img{
      width: 30px;
    }

    &__user-infos {
      display: flex;
      flex-direction: column;

      span {
        font-size: 14px;
        font-weight: 700;
        color: #4c4c4c;
      }

      p {
        font-size: 14px;
        color: #828282;
        width: 224px;
        margin: 12px 0;
      }

      .infos-cvc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        height: 60px;

        &__input {
          width: 100px;
        }
      }
    }

    &__confirmation {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;

      span {
        font-size: 14px;
        font-weight: 700;
        color: #4c4c4c;
      }

      button{
        margin-top: 24px;
      }
    }
  }
}

.card-type-custom {
  position: absolute;
  left: 30px;
  top: -5px;

  @include media('width<=450px') {
    top: 1px;
  }
}

.card-select__card-infos img {
  width: 50px;

  @include media('width<=440px') {
    width: 35px;
  }
}
