//GreenBox UI
@import 'greenbox_ui/src/styles/_variables.scss';
@import 'greenbox_ui/src/styles/_include-media.scss';
@import 'greenbox_ui/src/styles/_texts.scss';
@import 'greenbox_ui/src/styles/_forms.scss';
@import 'greenbox_ui/src/styles/_general.scss';

//General
@import '@styles/_font.scss';
@import '@styles/_variables.scss';
@import '@styles/_general.scss';

//Layouts
@import '@styles/Layouts/_internal-simple.scss';
@import '@styles/Layouts/_footer.scss';
@import '@styles/Layouts/_header.scss';

//Pages
@import '@styles/pages/home.scss';
@import '@styles/pages/add-funds.scss';
@import '@styles/pages/deposity.scss';
@import '@styles/pages/pay-merchant.scss';
@import '@styles/pages/cards.scss';

//Root
html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
  background-color: $grey;
}
