@import '@styles/_variables.scss';

.create-account {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .internal-title {
    text-align: center;
    margin-top: 45px;
  }

  &__form {
    max-width: 312px;
    margin-top: 32px;

    .form-row {
      margin-bottom: var(--padding-1);
    }

    .btn {
      width: 100%;
    }
  }

  .login-link {
    width: 100%;
    margin-top: 40px;

    p {
      text-align: center;
      margin: 0 0 3px 0;
      font-size: 14px;
      color: var(--color-gray-400);
    }
  }
}

.phone-input {
  width: 100%;
}

.phone-error input {
  border: 1px solid var(--color-error) !important;
}

.agree-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--padding-1);

  p {
    margin: 0 0 0 10px;
    font-size: 14px;
    color: var(--color-gray-500);
  }
  .open-modal {
    font-weight: 700;
    color: $dark-yellow;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      color: var(--color-hover-primary);
    }
  }
}
