@import 'greenbox_ui/src/styles//_include-media.scss';

.purchase {
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;

  &__title {
    font-size: 14px;
    color: #adadad;
    text-align: center;

    @include media('<=phone') {
      width: 70%;
    }
  }

  &__balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5px;

    @include media('width<=500px') {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__value {
      font-size: 40px;
      font-weight: 700;
      color: #35bab6;
      margin-right: 10px;
    }

    &__currency {
      font-size: 24px;
      font-weight: normal;
      letter-spacing: 0.38px;
      color: #adadad;
    }
  }
}
